@charset "utf-8";

.modal{
  width:100%;height:100%;
  background:rgba(0,0,0,.7);
  position:fixed;
  top:0;left:0;
  z-index:9999;
}
.m_inner{
  width:400px;height:500px;
  background:#fff;
  position:absolute;
  left:50%;top:50%;
  transform: translate(-200px, -250px);
}
.m_inner img{width:100%;}
.m_inner button{
  text-align:center;
  width:100%;height:40px;
  background:#fff;
  border:none;
}