@charset "utf-8";

/* Tabmnu.css */
.menu_list ul{
  list-style:none;
  padding:0px;
  display: flex;
}
.menu_list li{
  display:inline-block;
  padding:10px 20px;
  cursor: pointer;
  border:1px solid #ccc;
  background:#f0f0f0;
  margin-right:5px;
}
.menu_list li:hover{
  background:#dddddd;
}
.menu_list li.act{
  background-color:#007bff;
  color:#fff;
  font-weight:bold;
}
/* 메뉴 콘텐츠 스타일 */
.tab_content{
  padding:20px;
  border-top:1px solid #ccc;
  margin-top:20px;
}

/* 콘텐츠 공통서식 */
.content{
  border:1px solid #ccc;
  background:#f0f0f0;
  width:500px;height:150px;
}
