/* css폴더에 Sub_style.css */

.txt_color1{color:rgb(234, 0, 255);}

/* id선택자 */
#bg_color1{background:#ccc;}

/* 배경이미지 */
.bg_img{
  width:342px;height:228px;
  background:url('../images/banner.jpg');
}

/* 버튼 서식 */
.btn{
  width:40px;height:30px;
  font-size:20px;
  margin:10px;
}
.num{
  color:#f00;
  font-weight:bold;
  font-size:30px;
}