@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{margin:0;padding:0px;}
body{
  font-family: "Noto Sans KR", sans-serif;
  font-size:15px;
  color:#333;
}
dl dt{font-weight:bold;padding-top:10px;}
dl dd{line-height:24px;}
hr{margin:20px 0px;}
.header{
  background:rgb(0, 110, 255);
  text-align:center;
  position:fixed;
  top:0px;left:0px;
  z-index:999;
  width:100%;
  box-shadow:0px 0px 4px #616161;
}
.header > h1{
  color:#fff;
  font-size:18px;
  padding:16px 0px;
}
p{line-height:40px;}

.gnb{
  position:fixed;
  top:0px;right:-100%;
  background:rgba(0,0,0,.8);
  z-index:3000;
  width:100%;height:100vh;
  transition:0.3s;
}
.gnb ul{
  background:#fff;
  width:70%;height:100%;
  margin-left:30%;
  padding-top:60px;
}
.gnb ul li{
  border-bottom:1px solid #ccc;
  font-size:14px;
}
.gnb ul li:hover{
  background:#eeeeee;
}
.gnb ul li button{
  width:100%;
  border:none;
  background:none;
  line-height:36px;
  text-align:left;
  text-indent:24px;
}

/* 닫기 버튼 서식 */
.close_btn{
  border:none;
  position:absolute;
  top:8px;right:14px;
  z-index: 2001;
  color:#333;
  padding:10px;
  cursor:pointer;
  background:none;
}

/* 메인서식 */
main{padding:15px 10px;}
.list01{
  margin:10px 0px 15px 30px;
}
.list01 li{
  line-height:26px;
}
.list01 ul, .list01 li ol{
  margin-left:16px;
  background:#ececec;
}
main .title2{
  border-top:2px solid #255fff;
  border-bottom:2px solid #255fff;
  color:#255fff;
  font-size:18px;
  padding:6px 0px;
  margin:40px 0px 8px 0px;
}
main .title3{
  display:inline-block;
  padding:4px 10px 4px 10px;
  background-color:rgb(177, 68, 199);
  color:#fff;
  font-weight:normal;
  font-size:16px;
  margin:10px 0px 0px 0px;
}
main .title4{
  padding-top:20px;
  padding-bottom:10px;
  color:#c21818;
}

.footer{
  text-align:center;
  line-height:40px;
  background:#333;
}
.footer > address{
  color:#fff;
  font-style:normal;
}