@charset "utf-8";

.product{
  width:100%;
  margin:0 auto;
}
.product > h3{
  padding:15px 0px;
  font-size:18px;
}
.product_list{
  display:flex;
  justify-content:space-around;
}
.product_list img{
  width:100%;
}
.product_list li{
  width:23%;
  list-style:none;
  position:relative;
  padding-bottom:50px;
}
.product_list .p_title{
  font-size:16px;
  padding-top:10px;
  line-height:24px;
  display:block; 
}
.product_list .p_price{
  color:rgb(255, 60, 60);
  font-weight:bold;
  font-size:14px;
  position:absolute;
  right:0px;
  bottom:10px;
}
